<app-header></app-header>
<div class="div1" style="background-color: cornflowerblue; height: 120%;flex: auto;">
    <br><br><br>
    <mat-card class="card1">
        <mat-card-content class="content1">
            <b>Which type of decoration do you prefer?</b>
        </mat-card-content>
    </mat-card>
    
    <br><br><br>

    <div class="div2">
        <mat-card class="card2">
            <img mat-card-image src="/assets/dec-1.jpg" (click)="func1()" routerLink="/home4">
            <mat-card-content><b>Garland of balloons</b></mat-card-content>
        </mat-card>
        <mat-card class="card3">
            <img mat-card-image src="/assets/dec-2.jpg" (click)="func2()" routerLink="/home4">        
            <mat-card-content><b>Balloon Arch</b></mat-card-content>
        </mat-card>
        <mat-card class="card4">
            <img mat-card-image src="/assets/dec-3.jpg" (click)="func3()" routerLink="/home4">
            <mat-card-content><b>Balloon filled with candies</b></mat-card-content>
        </mat-card>
    </div>
     
    <br><br>

    <div class="div3">
        <mat-card class="card5">
            <img mat-card-image src="/assets/dec-4.jpg" (click)="func4()" routerLink="/home4">
            <mat-card-content><b>Wall of Balloons</b></mat-card-content>
        </mat-card>
        <mat-card class="card6">
            <img mat-card-image src="/assets/dec-5.jpg" (click)="func5()" routerLink="/home4">
            <mat-card-content><b>Balloons tied to Gifts</b></mat-card-content>
        </mat-card>
        <mat-card class="card7">
            <img mat-card-image src="/assets/dec-6.jpg" (click)="func6()" routerLink="/home4"> 
            <mat-card-content><b>Balloon with glowsticks</b></mat-card-content>            
        </mat-card>
    </div>
</div>