<div class="welc">
    <br><br><br><br><br><br><br>
    <mat-card class="heading">
           <mat-card-content>
               <i><b><span style="color: red; font-size: 25px; margin-left: 40px;">Welcome to Magic Ribbon</span></b></i>
           </mat-card-content>
    </mat-card>
    <br><br><br><br>
    <mat-card class="admin">
        <mat-card-content>
            <i><b><span style="color:red; font-size: 25px;margin-left: 45px;">Select your role</span></b></i>
        </mat-card-content>
    </mat-card>
    <br><br><br><br>
    <div class="group1">
    <mat-card class="admincard" routerLink="/adminlogin">
        <mat-card-header>
            <i class="fa fa-user-circle-o" aria-hidden="true" style="margin-right: 10px;"></i><b><span style="margin-left: 10px;">Admin</span></b>
        </mat-card-header>
    </mat-card>
    <mat-card class="customer" routerLink="/login">
        <mat-card-header>
            <i class="fa fa-user-circle" aria-hidden="true"></i><b><span style="margin-left: 10px;" >customer</span></b>
        </mat-card-header>
    </mat-card>
    </div>
</div>