<app-header></app-header>
<div class="div1" style="background-color: cornflowerblue; height: 200%; flex: auto;">
    <br><br><br>
    <mat-card class="card1">
        <mat-card-content class="content1">
            <b>Type of Cakes we offer</b>
        </mat-card-content>
    </mat-card>
    
    <br><br><br>

    <div class="div2">
        <mat-card class="card2">
            <img mat-card-image src="/assets/cake-1.PNG" (click)="func1()" routerLink="/home3">
            <mat-card-content><b>Black Forest Gateau</b></mat-card-content>
        </mat-card>
        <mat-card class="card3">
            <img mat-card-image src="/assets/cake-2.PNG" (click)="func2()" routerLink="/home3">        
            <mat-card-content><b>Pineapple Cake</b></mat-card-content>
        </mat-card>
        <mat-card class="card4">
            <img mat-card-image src="/assets/cake-3.PNG" (click)="func3()" routerLink="/home3">
            <mat-card-content><b>Eggless Truffle Cake</b></mat-card-content>
        </mat-card>
    </div>
     
    <br><br>

    <div class="div3">
        <mat-card class="card5">
            <img mat-card-image src="/assets/cake-4.PNG" (click)="func4()" routerLink="/home3">
            <mat-card-content><b>Coffee Cake with Mocha Frosting</b></mat-card-content>
        </mat-card>
        <mat-card class="card6">
            <img mat-card-image src="/assets/cake-5.PNG" (click)="func5()" routerLink="/home3">
            <mat-card-content><b>Fudgy Chocolate Cake</b></mat-card-content>
        </mat-card>
        <mat-card class="card7">
            <img mat-card-image src="/assets/cake-6.PNG" (click)="func6()" routerLink="/home3"> 
            <mat-card-content><b>Mango Meringue Cake</b></mat-card-content>            
        </mat-card>
    </div>

    <br><br>
    <div class="div4">
        <mat-card class="card8">
            <img mat-card-image src="/assets/cake-7.PNG" (click)="func7()" routerLink="/home3">
            <mat-card-content><b>Oreo Cheesecake</b></mat-card-content>
        </mat-card>
        <mat-card class="card9">
            <img mat-card-image src="/assets/cake-8.PNG" (click)="func8()" routerLink="/home3">
            <mat-card-content><b>Banana Cake with Cream Cheese Frosting</b></mat-card-content>
        </mat-card>
        <mat-card class="card10">
            <img mat-card-image src="/assets/cake-9.PNG" (click)="func9()" routerLink="/home3">
            <mat-card-content><b>Cherry Cheesecake</b></mat-card-content>
        </mat-card>
    </div>

    <br><br>
    <div class="div5">
        <mat-card class="card11">
            <img mat-card-image src="/assets/cake-10.PNG" (click)="func10()" routerLink="/home3">
            <mat-card-content><b>Coffee Cake with Kahlua Chocolate Ganache</b></mat-card-content>
        </mat-card>
    </div>

</div>