.card1{
    max-width: 500px;
    background-color: orangered;
    margin-left: 400px;
}
.content1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
}
b{
    margin-left: 50px;
}
.div2{
    /* margin-left: 100px; */
    display: flex;

  flex-wrap: wrap;

  justify-content: space-around;

  margin-right: 2%;
}
.card2,.card3,.card4,.card5{
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 200px;
    margin-left: 50px;
}
mat-card{
    flex: auto;
}